#menu{
    background: #111827;
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
#menu .items li{
    list-style: none;
    padding: 15px 0;
    transition:  0.3s ease;
}

#menu .items li:hover{
    background: #253047;
    cursor: pointer;
}
/* #menu .items a:nth-child(1){
    border-left: 4px solid #fff;
} */

#menu .items li i{
    color: rgb(134, 141, 151);
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    margin: 0 10px 0 25px;
}

#menu .items li:hover i,
#menu .items a li:hover {
    color: #f3f4f6;
}

#menu .items a li{
    text-decoration: none;
    color: rgb(134, 141, 151);
    font-weight: 300px;
    transition:  0.3s ease;
}
#menu .items a,
#menu .items a:visited, 
#menu .items a:hover, 
#menu .items a:active {
    color: inherit;
    }