#pagination {
    display: block;
    border-collapse: collapse;
    width: 100%;
    height: 20px;
    margin: 5px 0 10px 30px;
    background: #fff;
    width: 1500px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.80);
    border-radius: 10px;
}

#pagination span{
    background: #111827;
    color: rgb(134, 141, 151);
    margin: 20%;
    border-radius: 5px;
}