table {
    display: block;
    border-collapse: collapse;
    height: 750px;
    width: 100%;
    overflow-y: scroll;
    overflow-x: scroll;
    margin: 30px 0 10px 30px;
    background: #fff;
    width: 1500px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.80);
    border-radius: 10px;
}

thead tr {
    background: #253047;
    color: rgb(134, 141, 151);
    font-size: 14px;
    font-weight: bold;
}

thead td{
    text-transform: uppercase;
    /* font-weight: 400; */
    padding: 10px 50px 10px 50px;
    width: 100%;
}

tbody tr {
    border-bottom: 2px solid #eef0f3;
}

tbody tr td {
    padding: 10px 50px 10px 50px;
}