body {
  width: 100%;
  background: #E5E7EB;
  position: relative;
  display: flex;
  z-index: 1;
}
.screen-container {
  width: calc(100% - 300px);
  margin-left: 300px;
  position: relative;
  z-index: 2;
}

